
h1{
    margin-top: -2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    font-weight: 500;
    
    width: 100%;
}
p, a{
    font-family: 'Roboto Mono', monospace;
}
h3, h4, h5{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color:black;
}
  
.jumbotron{
color:rgb(0, 0, 0);
    height: 4rem;
    margin-top: 30px;
}
.low{
    border-radius: 6px;
    background-color: rgb(11, 128, 0);
    padding: 5px;
    color: white;
}
.mud{
    border-radius: 6px;
    background-color: yellow;
    padding: 5px;
    color: black;
}
.high{
    border-radius: 6px;
    background-color: orange;
    padding: 5px;
    color: black;
}
.vhigh{
    border-radius: 6px;
    background-color: darkred;
    padding: 5px;
    color: white;
}
.extreme{
    border-radius: 6px;
    background-color:red;
    padding: 5px;
    color: white;
}
.searchCol{
    height: 100vh;
    padding-top: 1rem;
    padding-right: 2rem;
    margin-right: -1rem;
}   

.card{
    background-color:rgba(235, 227, 225, 0.61);

}
#weatherContainer{
    
    background-color:rgba(235, 227, 225, 0.61);
} 